<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>소식 작성</h2>
  </div>
  <form th:action method="post" enctype="multipart/form-data">
    <ul>
      <li>title : <input type="text" name="title"></li>
      <li>content : <input type="text" name="content"></li>
      <li>images : <input type="file" name="imageFile" ></li>
    </ul>
    <input type="submit"/>
  </form>
</div> <!-- /container -->
</body>
</html>